
body {
  background-color: #212637 !important;
}


#navbar {
  height: 580px;
  width: 250px;
  background-color: #151A23;
  border-radius: 8px; 
  font-family: 'Arial', sans-serif;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: -23px;
}

#navbar2 {
  height: 200px;
  width: 250px;
  border-radius: 8px;
  background-color: #151A23; 
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#navbar2 .disconnect-navbar {
color:#F24F4F;
text-align: center;
margin-top: 70px;
cursor: pointer;
}

#icon {
  width: 24px;
  height: 24px;
  color: #0d0d0e;
}


#navbar .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #007bff; 
  margin-bottom: 10px; 
  text-align: center;
}


#navbar .nav-link {
  color: #cbc9c9; 
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease; 
  margin-top: -30px;
  margin-right: 100px;
}


#navbar .nav-link:hover {
  background-color: #52889F;
  color: white;
  width: 200px;
}


#navbar .nav-link.ms-3 {
  font-size: 14px;
  color: #555;
  padding: 8px 10px;
}


#navbar .nav-link.ms-3:hover {
  background-color: #e0e0e0;
  color: #333;
  
}


#navbar .nav-link.active {
  background-color: #007bff;
  color: white;
}


#navbar .nav {
  margin: 0;
}


[data-bs-spy="scroll"] {
  padding: 20px;
  max-height: 500px; 
  overflow-y: auto; 
  border: 1px solid #ddd;
  border-radius: 8px;
}


[data-bs-spy="scroll"] h4 {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

[data-bs-spy="scroll"] h5 {
  font-size: 16px;
 
}


#navbar #header {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-left: 0px; 
  margin-bottom: 50px;
}

#navbar2 #header2 {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-left: 35px; 
  margin-bottom: 60px;
}

#navbar2 button {
  display: none;
}
.disconnect-toast {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  text-align: center;
}




