
.dashboard-layout {
    display: flex; 
    min-height: 100vh; 
    background-color: #212637; 
    padding: 0;
  }
  
  
  #navbar-container {
    width: 250px; 
    flex-shrink: 0; 
    background-color: #151A23; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: 30px;
  }
  
  
  #dashboard-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    position: relative; 
    margin-top: 15px;
  }